Paste your exported chats here, replace your name with AI and your chat partner's name with Human.

Example:
2/18/22, 5:14 PM - AI: Good morning bro
2/18/22, 5:28 PM - Human: Good morning, how're you doing?
2/18/22, 5:29 PM - AI: I'm good, thanks.
2/18/22, 5:30 PM - AI: Just wanted to check up on you.
2/18/22, 5:30 PM - AI: It's been a while since we last spoke
2/18/22, 5:30 PM - Human: Yeah
2/18/22, 5:31 PM - Human: Thanks, I'm good.
2/18/22, 5:31 PM - Human: I appreciate the gesture.
